/* Définition des polices */
@font-face {
  font-family: 'Berlin Sans FB';
  font-style: normal;
  font-weight: normal;
  src: url('/police/BRLNSR.woff') format('woff');
}

@font-face {
  font-family: 'Brush Script MT';
  font-style: normal;
  font-weight: normal;
  src: url('/police/BRUSHSCI.TTF') format('truetype');
}

@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: normal;
  src: url('/police/GreatVibes-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'torah sofer';
  font-style: normal;
  font-weight: normal;
  src: url('/police/TORAH.TTF') format('truetype');
}

@font-face {
  font-family: 'DMSerif';
  font-style: normal;
  font-weight: bold;
  src: url('/police/DMSerifDisplay-Regular.ttf') format('truetype');
}
body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;

}
body{
  width: 100%;
  height: 100%;
}

/* Styles pour l'overlay */
#overlay {
  background-image: url("/img/fondFloral.jpg");
  background-size: cover;
  background-position: right center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ededed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* High z-index to be on top of everything */

  opacity: 1;
  transition: opacity 0.5s;
}

#overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#overlayDiv {
  width: 90%;
  max-width: 70%;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  border-radius: 10px;
}

#overlayDivImage img {
  max-width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
}

#overlayDivText {
  font-family: "Great Vibes", sans-serif;
  font-size: 2.5rem;
  color: #b59392;
  margin-bottom: 20px;
}

#overlayDivButton .btnLink {
  font-family: 'DMSerif', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #b59392;
  padding: 10px 20px;
  border-radius: 2px;
  transition: background-color 0.3s;
  margin-bottom: 15rem;
}

#overlayDivButton .btnLink:hover {
  background-color: #a48281;
}

/* Styles pour les éléments du compte à rebours */
.countDownElement {
  font-family: 'Great Vibes', sans-serif;
  font-size: 1.8rem;
  color: #a48281;
  margin-bottom: 0rem;
}

.countDownSquare {
  font-family: 'Great Vibes', sans-serif;
  font-size: 1.2em;
  color: #333;
  padding: 10px;
  border: 2px solid #b59392;
  border-radius: 5px;
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Assure que le padding et la bordure sont inclus dans la largeur et la hauteur */
  flex-direction: column;
  margin-right: 8px; /* Ajoute un petit espace entre les éléments */
}

#overlayDivCountdown {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}



#principale {
  display: flex;
  flex-direction: column; /* Pour empiler les éléments verticalement */
  background-image: url("/img/fondFloral.jpg");
  background-size: cover;

}

#principalePhoto img {
  width: 100%; /* Pour que l'image prenne toute la largeur de son conteneur */
  height: auto; /* Pour conserver le ratio hauteur/largeur original de l'image */
}

#photoDecomptes {

  display: flex;
  justify-content: center; /* Pour centrer les éléments horizontalement */
  align-items: center; /* Pour centrer les éléments verticalement */
  background-image:linear-gradient( rgba(0, 0, 0, 0.58), rgba(119, 119, 119, 0.2)), url("/img/rubenCarolina.jpg");
  background-position: left center; /* Centrer l'image de fond */
  background-size: cover;
  padding: 20px; /* Ajout de marge autour du compte à rebours */
}

#photoDecomptes{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  flex-direction: row;
}

.countDownSquare2 {
  font-family: 'Great Vibes', sans-serif;
  font-size: 1.2em;
  color: #ffffff;
  padding: 10px;
  border: 2px solid #ffffff;
  border-radius: 5px;
  width: 70px; /* Largeur fixe pour une taille uniforme */
  height: 70px; /* Hauteur fixe pour une taille uniforme */
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box; /* Assure que le padding et la bordure sont inclus dans la largeur et la hauteur */
  flex-direction: column;
  margin-right: 8px; /* Ajoute un petit espace entre les éléments */
}

#principaleDecompte{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

#photoDecomptesDivImage img{
  max-width: 80%;
  height: auto;
  display: block;
  margin: 0 auto 20px;

}

#photoDecomptesText{
  align-items: center;
  display: flex;
  font-family: "Great Vibes", sans-serif;
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;

}

#photoDecomptesElement{
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#2emePartie{
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url("/img/fondFloral.jpg");
}

.principaleElement{
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem;
  flex-direction: column;


}

.texteDroit{
  margin-bottom: 0.8rem;
  font-size: 1.2rem ;
  color: #a48281;
  text-align: center;
  font-family: "Times New Roman",sans-serif;



}
.texteEligner{
  font-family: "Great Vibes", sans-serif;
  margin-bottom: 1.3rem;
  font-size: 2rem ;
  color: #a48281;
  text-align: center;


}

.texteDroitGras
{
  font-family: DMSerif,sans-serif;
  margin-bottom: 0.5rem;
  font-size: 1.2rem ;
  color: #a48281;
  text-align: center;


}

.titre {
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #a48281;
  margin-bottom: 1.5rem;
  margin-top: 6rem;

}

.titre h1 {
  margin: 0;
}

.logo {
  width: 60%;
  height: auto;
  max-width: 200px; /* Adjust size as needed */
  margin-top: 10px;
}

.btnLink{

  font-family: 'DMSerif', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #b59392;
  padding: 10px 20px;
  border-radius: 2px;
  transition: background-color 0.3s;
  margin-bottom: 3rem;
}
.titre img {
margin-top: 1rem;
  width: 40%;
  height: auto;
}

#3emePartie{
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: url("/img/fondFloral.jpg");

}

.parent{
  width: 90%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  text-align: center;
}
.parentGauche{
  width: 48%;
  display: flex;
  flex-direction: column;


}
.parentDroit{
  width: 48%;
  display: flex;
  flex-direction: column;
  text-align: right;

}




.txtImportant {
  font-family: 'Great Vibes', sans-serif;
  font-size: 3rem;
  color: #a48281;
  margin-bottom: 1rem;
}

.txtSecondePartie {
  font-family: 'DMSerif', sans-serif;
  font-size: 1.2rem;
  color: #a48281;
  margin-bottom: 2rem;
}


.form-group {
  width: 100%;
  margin-bottom: 1rem;
}

.form-group label {
  font-family: 'DMSerif', sans-serif;

  font-size: 1.2rem;
  color: #b49291;
  display: flex;
  flex-direction: column;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea {
  font-family: 'DMSerif', sans-serif;
  font-size: 1rem;
  padding: 0.5rem;
  border: 1px solid #b59392;
  border-radius: 5px;
  margin-top: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.form-group input[type="checkbox"] {
  margin-right: 0.5rem;
}

.form-group textarea {
  height: 100px;
  resize: vertical;
}

.btnLink {
  font-family: 'DMSerif', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #b59392;
  padding: 10px 20px;
  border-radius: 2px;
  transition: background-color 0.3s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btnLink:hover {
  background-color: #a48281;
}


.btnLinkform{
  font-family: 'DMSerif', sans-serif;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  background-color: #b59392;
  padding: 10px 20px;
  border-radius: 2px;
  transition: background-color 0.3s;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#kolSason{

  align-items: center;
  justify-content: center;
  display: flex;

}

#kolSason img{
  width: 96%;
}


footer {
  text-align: center;
  background-color: #fffaf4; /* Couleur de fond douce */
  padding: 20px; /* Espacement intérieur pour un meilleur aspect */
}



span {
  color: #333; /* Couleur du texte */
  font-size: 4vw; /* Taille du texte */
  display: block; /* Pour que le texte apparaisse sur une ligne séparée */
  margin-bottom: 10px; /* Espacement entre le texte et l'icône Instagram */
}

.instagram-logo {
  height: 3vw; /* Taille de l'icône Instagram */
  width: auto; /* Ajustement automatique de la largeur */
}




.form-group {
  margin-bottom: 10px;


}

label{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 5px;
}


input[type="checkbox"] {
  display: inline-block;
  margin-right: 5px;
}

input[type="text"],
input[type="number"],
textarea,
input[type="submit"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Pour inclure la bordure dans la largeur et la hauteur */
  font-family: DMSerif, sans-serif; /* Utilisation de la police Berlin Sans FB */
  font-size: 1.3rem;
}



